<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookbook Home</title>
</head>
<body>
    <h1 th:text="'Home Page'">Index Page</h1>
    <h3><a th:href="@{/register}">Register</a></h3>
    <h3><a th:href="@{/users}">Users</a></h3>
    <h3><a th:href="@{/recipes}">Register</a></h3>
</body>
</html>