
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CookBookPro</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{../css/style.css}" rel="stylesheet" />
</head>
<body class="background">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" th:href="@{/}"href="#!">CookBookPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link active"th:href="@{/}"href="#">Home</a>
                <a class="nav-link active"th:href="@{/register}"href="#">Register</a>
                <a class="nav-link active" th:href="@{/users/login}"href="#">Login</a>
                <a class="nav-link active" th:href="@{/users}"href="#">Users</a>
                <a class="nav-link active" th:href="@{/recipes}"href="#">Recipes</a>
                <a class="nav-link active" th:href="@{/users/logout}"href="#">Logout</a>

            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 card-box rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold" th:text="'Plan Meal'">Plan Meal</h1>
                <br>
                <body>
                <h5 th:text="${recipe.recipeName}"></h5>
<br>
                <h5 th:text="'Servings:'">Servings:</h5>
                <p th:text="${recipe.serving}"></p>
                <h5 th:text="'Prep Time:'">Prep Time:</h5>
                <p th:text="${recipe.prepTime}"></p>
                <h5 th:text="'Cook Time:'">Cook Time:</h5>
                <p th:text="${recipe.cookTime}"></p>
                <h5 th:text="'Created On:'">Created On:</h5>
                <br>
                <p th:text="${#dates.format(recipe.creationDate, 'yyyy-MM-dd')}"></p>
                <form th:action="@{/recipes/processMeal}" method="post">
                    <input type="hidden" th:value="${recipe.id}" name="recipeId">

                    <label class="col-4 col-form-label" th:text="'Meal Name:'">Meal Name:</label>
                    <input type="text" th:name="mealName" class="form-control" required />
                    <br>

                    <select id="addedDate" name="addedDate">
                        <option th:text="${#dates.format(arrayDate[0], 'yyyy-MM-dd')}" th:value="0">
                        <option th:text="${#dates.format(arrayDate[1], 'yyyy-MM-dd')}" th:value="1"></option>
                        <option th:text="${#dates.format(arrayDate[2], 'yyyy-MM-dd')}" th:value="2"></option>
                        <option th:text="${#dates.format(arrayDate[3], 'yyyy-MM-dd')}" th:value="3"></option>
                        <option th:text="${#dates.format(arrayDate[4], 'yyyy-MM-dd')}" th:value="4"></option>
                        <option th:text="${#dates.format(arrayDate[5], 'yyyy-MM-dd')}" th:value="5"></option>
                        <option th:text="${#dates.format(arrayDate[6], 'yyyy-MM-dd')}" th:value="6"></option>
                        <option th:text="${#dates.format(arrayDate[7], 'yyyy-MM-dd')}" th:value="7"></option>
                    </select>
                    <button class="btn btn-primary" type="Submit">Save Plan</button>

                    <br><br><br>
                    <a th:href="@{/recipes}">Return to Recipe Dashboard</a>
                </form>

                </body>


            </div>
        </div>
    </div>
</header>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
