<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
</head>
<body>
    <h1 th:text="'Profile'">Profile</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user :${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
        </tr>
        </tbody>
    </table>

    <p th:text="'Your Recipes'">Your Recipes</p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Recipe Name</th>
            <th>Creator</th>
            <th>Recipe Details</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="recipe :${userRecipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.recipeName}"></td>
            <td th:text="${recipe.user.username}"></td>
            <td><a th:href="@{/recipes/details(id=${recipe.id})}">View Details</a></td>
        </tr>
        </tbody>
    </table>

    <p th:text="'Favorite Recipes'">Favorite Recipes</p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Recipe Name</th>
            <th>Creator</th>
            <th>Recipe Details</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="recipe :${favRecipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.recipeName}"></td>
            <td th:text="${recipe.user.username}"></td>
            <td><a th:href="@{/recipes/details(id=${recipe.id})}">View Details</a></td>
        </tr>
        </tbody>
    </table>

    <p th:text="'Planned Meals'">Planned Meals/p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Recipe Name</th>
            <th>Creator</th>
            <th>Recipe Details</th>
            <th>Planned Date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="meal :${mealSet}">
            <td th:text="${meal.id}"></td>
            <td th:text="${meal.meal_recipe.recipeName}"></td>
            <td th:text="${meal.meal_recipe.user.username}"></td>
            <td><a th:href="@{/recipes/details(id=${meal.meal_recipe.id})}">View Details</a></td>
            <td th:text="${meal.meal_date}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>